.root { -fx-font-size: 18px; }
.context-menu { -fx-font-size: 18px; }
.table-view { -fx-font-size: 1em; }
.tree-view { -fx-font-size: 1em; }
.list-view { -fx-font-size: 1em; }
.choice-box { -fx-font-size: 1em; }
.titled-pane { -fx-font-size: 1em; }
.icon { -fx-fit-height: 18px; -fx-preserve-ratio: true; }
.cell { -fx-cell-size: 28; -fx-graphic-text-gap: 2; }
