[submodule "Jtrrntzip"]
	path = Jtrrntzip
	url = https://github.com/optyfr/Jtrrntzip
[submodule "JUpdater"]
	path = JUpdater
	url = https://github.com/optyfr/JUpdater
[submodule "JLauncher"]
	path = JLauncher
	url = https://github.com/optyfr/JLauncher
