.root { -fx-font-size: 8pt; }
.table-view { -fx-font-size: 0.8em; }
.tree-view { -fx-font-size: 0.8em; }
.list-view { -fx-font-size: 0.8em; }
.choice-box { -fx-font-size: 0.8em; }
.context-menu { -fx-font-size: 7pt; }
.titled-pane { -fx-font-size: 0.8em; }
